<h1> Clientes</h1>
<div class="container-pg">

    <ul>
        <li><a href="/clientes/cadastrar">Cadastrar Cliente</a>
        </li>
        <li><a href="/clientes/lista">Clientes Cadastrados</a>
        </li>
    </ul>

</div>
<div class="btn-voltar">
    <a href="/">Voltar</a>
</div>