<h1> Reservas</h1>
<div class="container-pg">

    <ul>
        <li><a href="/reservas/cadastrar">Cadastrar Reservas</a>
        </li>
        <li><a href="/reservas/lista">Reservas Realizadas</a>
        </li>
    </ul>

</div>
<div class="btn-voltar">
    <a href="/">Voltar</a>
</div>