<h1>Veículos</h1>
<div class="container-pg">

    <ul>
        <li><a href="/veiculos/cadastrar">Cadastrar Veículos</a>
        </li>
        <li><a href="/veiculos/lista">Veículos Cadastrados</a>
        </li>
    </ul>

</div>
<div class="btn-voltar">
    <a href="/">Voltar</a>
</div>