<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Rockey - Locadoura de Veículos</title>
    <script src="https://kit.fontawesome.com/988a2714d4.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="shortcut icon" type="img/svg" id="car" href="/img/car-solid.svg">

</head>

<body>
    <nav id="nav-bar">
        <ul>
            <li><i class="fa-solid fa-house" style="color: #000000;"></i><a href="/"> Home</a>
            </li>
            <li><i class="fa-solid fa-user" style="color: #000000;"></i></i><a href="/clientes"> Clientes</a>
            </li>
            <li><i class="fa-solid fa-car" style="color: #000000;"></i><a href="/veiculos"> Veículos</a>
            </li>
            <li><i class="fa-solid fa-file" style="color: #000000;"></i><a href="/reservas"> Reservas</a>
            </li>
        </ul>
    </nav>
    <h1>Rockey Locadora de Veículos</h1>

    {{{body}}}

</body>

</html>